body.dark-theme .features::before{
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 500px var(--primary-color);
  filter: blur(200px);
  left: 0;
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}