.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.hero .hero_name {
  letter-spacing: 2px;
  font-family: var(--logo-font);
  font-size: clamp(3rem, 0.8696rem + 5.5652vw, 4rem);
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: clamp(1rem, 0.8rem + 1vw, 1.25rem);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  flex: 1;
  max-width: 50%;
  z-index: 1;
}
.hero-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.hero-description {
  font-size: clamp(0.9rem, 1.8vw, 1.1rem);
  margin-bottom: 2rem;
  color: var(--text-color);
  opacity: 0.9;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .hero-description {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 3rem 1rem 0;
  }

  .hero-content {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .hero-cta {
    flex-direction: column;
    width: 100%;
  }
}
