.not-found {
  height: fit-content;
  text-align: center;
}

.not-found-svg img {
  max-width: 100%;
  height: auto;
}

.not-found-message {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@media (max-width:768px) {
  .not-found{
    margin-bottom: 3rem;
  }
}
/* Responsive styles */
@media (max-width: 600px) {
  .not-found-title {
    font-size: 2rem;
  }

  .not-found-message {
    font-size: 1rem;
  }
}
