.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  text-align: center;
  padding: 50px;
}

.not-found-svg img {
  max-width: 100%;
  height: auto;
}

.not-found-title {
  font-size: 2.5rem;
  margin: 20px 0;
}

.not-found-message {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@media (max-width:768px) {
  .not-found{
    margin-bottom: 3rem;
  }
}
/* Responsive styles */
@media (max-width: 600px) {
  .not-found-title {
    font-size: 2rem;
  }

  .not-found-message {
    font-size: 1rem;
  }
}
