/* [project]/src/styles/Loader.css [app-client] (css) */
#wifi-loader {
  --background: #62abff;
  --front-color: #5355d6;
  --back-color: #c3c8de;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
}

#wifi-loader svg {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

#wifi-loader svg circle {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: center;
  position: absolute;
  transform: rotate(-100deg);
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  width: 86px;
  height: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: 1.8s .3s infinite circle-outer135;
}

#wifi-loader svg.circle-outer circle.front {
  animation: 1.8s .15s infinite circle-outer135;
}

#wifi-loader svg.circle-middle {
  width: 60px;
  height: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: 1.8s .25s infinite circle-middle6123;
}

#wifi-loader svg.circle-middle circle.front {
  animation: 1.8s .1s infinite circle-middle6123;
}

#wifi-loader svg.circle-inner {
  width: 34px;
  height: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: 1.8s .2s infinite circle-inner162;
}

#wifi-loader svg.circle-inner circle.front {
  animation: 1.8s 50ms infinite circle-inner162;
}

#wifi-loader .text {
  text-transform: lowercase;
  letter-spacing: .2px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  position: absolute;
  bottom: -40px;
}

#wifi-loader .text:before, #wifi-loader .text:after {
  content: attr(data-text);
}

#wifi-loader .text:before {
  color: var(--text-color);
}

#wifi-loader .text:after {
  color: var(--front-color);
  animation: 3.6s infinite text-animation76;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25px;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301px;
  }

  80% {
    stroke-dashoffset: 276px;
  }

  100% {
    stroke-dashoffset: 276px;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17px;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204px;
  }

  80% {
    stroke-dashoffset: 187px;
  }

  100% {
    stroke-dashoffset: 187px;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9px;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106px;
  }

  80% {
    stroke-dashoffset: 97px;
  }

  100% {
    stroke-dashoffset: 97px;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

/*# sourceMappingURL=src_styles_Loader_css_bad6b30c._.single.css.map*/