:root {
  --primary-color: #6366f1;
  --secondary-color: #8b5cf6;
  --background-color: #f9fafb;
  --text-color: #1f2937;
  --input-background: #ffffff;
  --accent-color: #10b981;
}

.dark-theme {
  --background-color: #111827;
  --text-color: #f3f4f6;
  --input-background: #1f2937;
  --accent-color: #34d399;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color var(--transition), color var(--transition);
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
section {
  padding: 4rem 0;
  text-align: center;
}
section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.CardHoverBG {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
.button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 9999px;
  cursor: pointer;
  transition: all var(--transition);
  color: white;
  width: auto;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button.primary {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
  border: none;
}

.button.secondary {
  color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.button.secondary:hover {
  background: var(--primary-color);
  color: white;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}