@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-font: "Lobster", sans-serif;
  --font: "Poppins", sans-serif;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  transition: background var(--transition);
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color var(--transition), color var(--transition);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
