@import url('https://fonts.googleapis.com/css2?family=Poppins:ital&display=swap');
/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-font: "Lobster",sans-serif;
  --font-family: "Poppins", sans-serif
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  transition: background var(--transition);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}